@font-face {
    font-family: Krub;
    src: url(fonts/Krub/Krub-Regular.ttf);
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: Krub;
    src: url(fonts/Krub/Krub-Bold.ttf);
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: Krub;
    src: url(fonts/Krub/Krub-SemiBold.ttf);
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: Oswald;
    src: url(fonts/Oswald/Oswald-Bold.ttf);
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: Oswald;
    src: url(fonts/Oswald/Oswald-SemiBold.ttf);
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: Oswald;
    src: url(fonts/Oswald/Oswald-Medium.ttf);
    font-weight: 500;
    font-style: normal;
}
*{
    margin: 0;
    padding: 0;
}
body{
    background-color: black;
}
header{
    width: 100%;
    display: flex;
}
.header_logo {
    width: 128px;
    height: 18px;
    margin-top: 54px;
    margin-left: 57px;
    display: flex;
    cursor: pointer;
}
.header_logo_text {
    margin-left: 9px;
    margin-top: -8px;
    color: #fff;
    font-family: Oswald;
    font-weight: 600;
    font-size: 21px;
    word-spacing: 3px;
}
.square{
    height: 17px;
    width: 18px;
    background-color: #fff;
}
nav{
    margin-top: 52px;
    margin-left: 248px;
    display: flex;
}
nav a{
    font-family: Oswald;
    font-weight: 600;
    color:#fff;
    font-size: 16px;
    margin-right: 130px;
}
.signIn{
    display: flex;
    margin-top: 48px;
    margin-left: 33px;
    height: 31px;
    width: 96px;
    background-color: #fff;
    justify-content: center;
    align-items: center;
}
.signIn p{
    font-family: Oswald;
    font-weight: 500;
    word-spacing: 2px;
}
a{
    text-decoration: none;
}
footer{
    height: 200px;
    margin-top: 40px;
    background-color: purple;
}

.intro4_text{
    width: 100%;
    height: 100vh;
    color: #fff;
    background-color: black;
    background-size: cover;
    margin-bottom: 40px;
}

.intro4_in{
    display:flex;
    margin-top:-22px;
}

.intro4_title{
    font-weight: bold;
    font-size:63px;
    font-family:'Krub',bold;
    margin-left: 68px;
   
    letter-spacing: 1px;

}

.intro4_title2{
    font-weight:500;
    font-size:62px;
    font-family: 'Krub';
    margin-left: 15px;
    letter-spacing: 8px;
    color:#aa84f9;
}

.container{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 182%;
}

.intro4_subtitle_text{
    font-family: 'Krub';
    width: 100%;
    max-width: 400px;
    margin-left: 68px;
    margin-top: 22px;
    font-size:15px;
    line-height: 170%;
    font-weight: 1000;
    letter-spacing: .3px;
}

.intro4_readbutton{
    display: flex;
    margin-top: 18.5%;
    margin-left: 68px;
    height: 50px;
    width: 126px;
    background-color: #aa84f9;
    color:#fff;
    justify-content: center;
    align-items: center;

}
.intro4_readbutton p{
    font-family: 'Oswald', bold;
    font-weight: 500;
    word-spacing: 2px;
}

.baloon{
    margin-right: auto;
    color: #aa84f9;
    width: 10%; /* поддерживаются любые единицы, в том числе проценты */
    margin: 0 auto;
    background: black;
    border-radius: 50%;
}

.baloon::before {
    display: inline-block;
    content: "";
    vertical-align: middle;
    padding-top: 100%;
}

/* dsdvsdvs */