@font-face {
    font-family: Krub;
    src: url(fonts/Krub/Krub-Light.ttf);
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: Krub;
    src: url(fonts/Krub/Krub-Regular.ttf);
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: Krub;
    src: url(fonts/Krub/Krub-Bold.ttf);
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: Krub-SemiBold;
    src: url(fonts/Krub/Krub-SemiBold.ttf);
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: Oswald;
    src: url(fonts/Oswald/Oswald-Bold.ttf);
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: Oswald;
    src: url(fonts/Oswald/Oswald-SemiBold.ttf);
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: Oswald;
    src: url(fonts/Oswald/Oswald-Medium.ttf);
    font-weight: 500;
    font-style: normal;
}
*{
    margin: 0;
    padding: 0;
}
body{
    width: 1440px;
    background-color: #181818;
    color:#fff;
}

/* ------------------------------HEADER---------------------------------- */

header{
    font-family: Oswald;
    display: flex;
    justify-content: center;
    height: 143px;
}
.header_container{
    width: 1326px;
    display: flex;
    justify-content: space-between;
}
.header_logo {
    width: 128px;
    height: 32px;
    margin-top: 46px;
    padding: auto;
    display: flex;
    align-items: center;
    cursor: pointer;
}
.header_logo_text {
    margin-left: 9px;
    font-weight: 600;
    font-size: 21px;
    word-spacing: 3px;
}
.square{
    height: 18px;
    width: 18px;
    background-color: #fff;
}
nav{
    width: 570px;
    margin: 52px 0 0 93px;
    display: flex;
    justify-content: space-between;
}
nav a{
    font-weight: 600;
    color:#fff;
    font-size: 16px;
    height: 30px;
    text-decoration: none;
}
nav a:nth-child(2){
    padding-right: 3px;
}
nav a:nth-child(3){
    padding-right: 9px;
}
.header_right_container{
    width: 224px;
    display: flex;
    justify-content: space-between;
}
.signIn{
    display: flex;
    margin-top: 48px;
    height: 31px;
    width: 96px;
    background-color: #fff;
    color: #000;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    word-spacing: 2px;
    cursor: pointer;
}
.lines{
    margin-top: 52px;
    height: 25px;
    width: 51px;
    cursor: pointer;
}

/* -----------------------------MAIN---------------------------------- */

.home{
    display: flex;
    justify-content: center;
    height: 898px;
}
.home_container{
    width: 1326px;
    display: flex;
}
.home_left_container{
    height: 660px;
    width: 393px;
    font-family: Krub;
    display: flex;
    flex-direction: column;
}
.home_left_container>p{
    margin: 61px 0 0 -7px;
    letter-spacing: 4px;
    font-weight: 700;
    font-size: 132px;
}
.home_left_container>p span{
    color: #a460f9;
}
.home_left_container>div{
    display: flex;
    align-items: center;
}
.home_left_container>div>p:first-child{
    margin: 9px 0 0 -8px;
    writing-mode: vertical-lr;
    transform: rotate(-180deg);
    font-weight: 400;
    font-size: 43px;
    letter-spacing: 4.5px;
}
.home_left_container>div p:first-child span{
    font-weight: 700;
}
.home_left_container>div>div{
    flex: content;
    display: flex;
    justify-content: center;
    margin-top: 65px;
    height: 48px;
}
.home_left_container div div div{
    display: flex;
    justify-content: space-between;
    width: 140px;
}
.home_left_container div div div .square{
    margin-top: 7px;
    margin-left: 1.7px;
    height: 12px;
    width: 12px;
}
.home_left_container div div div p{
    font-weight: 700;
    font-size: 14.5px;
    padding-right: 7px;
    word-spacing: 4px;
    line-height: 25px;
}
.left_arrow{
    width: 60px;
    height: 23px;
    background-image: url(media/left_arrow.png);
    cursor: pointer;
}
.home_left_container .left_arrow{
    align-self: flex-end;
    margin-top: 70px;
    padding-right: 1px;
}

.home_center_container{
    width: 544px;
    height: 662px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.home_center_container .circle{
    position: absolute;
    width: 375.75px;
    height: 375.75px;
    background-color: #a460f9;
    border-radius: 50%;
    margin: 65px 27px 0 0;
}
.home_center_container img{
    z-index: 1;
    margin-top: 87px;
    margin-right: 64px;
}
.home_right_container{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-family: Krub;
    width: 390px;
    height: 662px;
}
.home_right_insert{
    border-color: #fff;
    border-width: 2px;
    border-style: solid;
    border-right: none;
    position: relative;
    align-self: flex-end;
    top: 26px;
    left: 57.4px;
    width: 177px;
    height: 101px;
}
.home_right_insert p{
    font-weight: 700;
    font-size: 17px;
    margin: 18px 0 0 35.2px;
    letter-spacing: 3.5px;
    line-height: 28px;
}
.home_right_insert p span{
    font-size: 29px;
    letter-spacing: 6px;
}
.home_right_container div:nth-child(2){
    width: 293px;
    height: 104px;
    font-weight: 600;
    padding: 0 13px 0 13px;
}
.home_right_container div:nth-child(2) p:first-child{
    font-size: 18px;
    margin-top: -8px;
    word-spacing: 1.4px;
    letter-spacing: 1.7px;
    line-height: 28px;
}
.home_right_container div:nth-child(2) p:last-child{
    margin-top: 14px;
    font-size: 14px;
    letter-spacing: 0.8px;
    word-spacing: -0.5px;
    line-height: 26px;
}
.right_arrow{
    width: 60px;
    height: 23px;
    background-image: url(media/right_arrow.png);
    cursor: pointer;
}
.home_right_container div:nth-child(2) p:last-child span{
    word-spacing: 5.2px;
}
#home_right_container_last_sentence{
    word-spacing: -0.5px;
}
.home_right_container_buttons{
    position: relative;
    width: 260px;
    height: 50px;
    font-family: Oswald;
    font-weight: 700;
    font-size: 14.6px;
    display: flex;
    top: -20px;
    left: 12px;
}
#home_button_lets_start
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 126px;
    height: 47px;
    background-color: #a460f9;
    cursor: pointer;
}
#home_button_read_more{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 126px;
    height: 47px;
    padding: 0;
    cursor: pointer;
}
#home_button_lets_start p{
    margin-bottom: 2px;
    letter-spacing: 1px;
}
#home_button_read_more p{
    margin: 3px 0 0 2.3px;
    letter-spacing: 1px;
}
.home_bottom_container{
    display: flex;
    position: absolute;
    align-self: end;
    left: 0;
    height: 251px;
    width: 1440px;
    background-color: #151515;
}
.home_bottom_inner_container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #181818;
    height: 219px;
    width: 100%;
    align-self: center;
    z-index: 2;
}
.home_bottom_inner_container_text_with_number{
    display: flex;
    width: 260px;
    height: 60px;
    margin-top: -4px
}
.home_bottom_inner_container_number{
    display: flex;
    letter-spacing: 1px;
    font-family: Oswald;
    font-size: 49px;
    font-weight: 500;
}
.home_bottom_inner_container_number span{
    color: #a460f9;
}
.home_bottom_inner_container_text{
    align-self: flex-end;
    font-family: Krub;
    font-weight: 400;
    margin-bottom: -4px;
    font-size: 22px;
    letter-spacing: 2.2px;
    line-height: 26px;
}
.home_bottom_inner_container_text span{
    font-weight: 700;
}
.home_bottom_inner_container div:first-child{
    margin-left: 41px;
}
.home_bottom_inner_container div:first-child .home_bottom_inner_container_text{
    margin-left: 21px;
}
.home_bottom_inner_container div:nth-child(2) .home_bottom_inner_container_number{
    margin-left: 3px;
}
.home_bottom_inner_container div:nth-child(2) .home_bottom_inner_container_text{
    margin-left: 17px;
}
.home_bottom_inner_container div:last-child .home_bottom_inner_container_number{
    margin-left: -1.7px;
}
.home_bottom_inner_container div:last-child .home_bottom_inner_container_text{
    margin-left: 9px;
}

/* -----------------------------SECOND BLOCK (ACCEPT NEW CHALLENGES)---------------------------------- */

.second_block{
    height: 747px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Krub;
    font-weight: 700;
}
.second_block_container{
    height: 615px;
    width: 1326px;
    display: flex;
    justify-content: space-between;
    align-items: end;
}
.second_block_left_container{
    height: 500px;
    width: 130px;
}
.second_block_side_text{
    display: flex;
    writing-mode: vertical-lr;
    transform: rotate(-180deg);
    margin: 1px 0 0 -5px;
}
.second_block_side_text .square{
    height: 12px;
    width: 12px;
    align-self: center;
    margin-right: 3px;
}
.second_block_side_text_text{
    margin-top: 23px;
    letter-spacing: 0.6px;
    word-spacing: -0.3px;
}
.second_block_middle_container{
    height: 500px;
    width: 1000px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.second_block_middle_container>div{
    display: flex;
    position: absolute;
}
.second_block .circle{
    z-index: 1;
    position: absolute;
    background-color: #a460f9;
    height: 21.5px;
    width: 21.5px;
    border-radius: 50%;
}
.second_block_middle_container>div .circle:first-child{
    top: 9px;
    left: 50px;
}
.second_block_middle_container>div .circle:last-child{
    align-self: self-end;
    margin-bottom: 34px;
    right: 75px;
}
.second_block_ellipse{
    margin-top: -7px;
    width: 884px;
    height: 223px;
    border-radius: 442px/111.5px;
    border-color: #fff;
    border-style: solid;
    border-width: 1px;
    rotate: 21deg;
}
.second_block_middle_text{
    z-index: 1;
    position: relative;
    text-align: center;
    font-size: 86px;
    margin: 38px 0 0 4px;
    line-height: 100px;
    letter-spacing: 5px;
}
.second_block_middle_text span{
    font-weight: 300;
}
.second_block_right_container{
    display: flex;
    justify-content: end;
    height: 500px;
    width: 130px;
}
.second_block_right_container .second_block_side_text{
    transform: none;
    margin: 2px -5px 0 0px;
}
.second_block_right_container .second_block_side_text_text{
    margin-top: 25px;
}
.second_block_right_container .square{
    margin-left: -2px;
}
.second_block_bottom_container{
    color: #252525;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1326px;
    height: 132px;
    font-size: 50px;
    letter-spacing: 2.9px;
    user-select: none;
}
.down_arrow{
    width: 30px;
    height: 75px;
    background-image: url(media/down_arrow.png);
    cursor: pointer;
}
.second_block_bottom_container p:first-child{
    margin: 0 0 36px -0.9px;
}
.second_block_bottom_container p:last-child{
    margin: 0 -1px 36px;
}
.second_block_bottom_container .down_arrow{
    margin: 3px 55px 0 0;
}

/* -----------------------------THIRD BLOCK (FIND YOUR COURSE)---------------------------------------- */

.third_block{
    height: 869px;
}

/* -----------------------------SIXTH BLOCK---------------------------------------- */

.sixth_container{
    display: flex;
    max-width: 1346px;
    height: 604px;
    margin-left: 45px;
    margin-top: 2009px;
    justify-content: space-between;
}
.left_section{
    box-sizing: border-box;
    height: 604px;
    padding-top:73px;
    padding-left: 5px;
    margin-right: 60px;
    position: relative;
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-start;
    justify-content: center;
}
.right_section{
    box-sizing: border-box;
    height: 604px;
    padding-top:95px;
    margin-left: 60px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;    
}
.right_section .arrow_down_6_block{
    cursor: pointer;
    transform: rotate(180deg);
    margin-top: 28px;
    margin-right: 13px;
}
.right_section .rotated-text{
    text-align: start;
}
.rotated-text{
    text-align: end;
    font-family: "Krub";
    color: rgb(241, 241, 241);
    font-weight: 900;
    font-size: 20px;
    letter-spacing: 1px;
    writing-mode: vertical-rl; 
    transform: rotate(180deg); 
}
.arrow_down_6_block{
    cursor: pointer;
    margin-bottom: 23px;
    margin-left: 15px;
}
.middle_section{
    cursor: pointer;
}
.man{
    position: relative;
    display: inline-block;
}
.man img{
    max-width: 100%;
}
.video-overlay{
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
}
.man:hover .video-overlay{
    display: block;
}
.video-overlay video{
    width: 100%;
    height: 100%;
}

/* -----------------------------SEVENTH BLOCK---------------------------------------- */

.seventh_container{
    display: flex;
    max-width: 1145px;
    height: 705px;
    left: 137px;
    top: 155px;
    position: relative;
}
.upper_container {
    display: flex;
    max-width: 1144px;
    height: 130px;
    position: relative;
    top: 0;
    left: 0;
    right: 0;
}
.big_text{
    font-size: 95px;
    font-family: "Krub";
    font-weight: 900;
    justify-content: center;
    left: 450px;
    margin-top: -23px;
    text-transform: uppercase;
    letter-spacing: 1.7px;
    line-height: 1.2;
    word-spacing: 10px;
    position: absolute;
}
.small_text{
    width: 1000px;
    font-size: 41px;
    font-family: "Krub";
    letter-spacing: 4.7px;
    color: rgb(170, 132, 249);
    line-height: 1.2;
    position: absolute;
    left: 442px;
    top: 80px;
}
.middle_container{
    display: flex;
    max-width: 1144px;
    height: 544px;
    position: absolute;
    top: 132px;
    left: 0px;
    right: 0px;
}
.left_person, .middle_person, .right_person{
    flex: 1;
    position: relative;
}
.left_person img{
    margin-top: 70px;
    margin-left: 52px;
}
.left_person .up_quote img{
    margin-top: 14px;
    margin-left: 2px;
}
.left_person .low_quote img{
    margin-top: 74px;
    margin-left: 250px;
}
.left_person .stars img{
    margin-top: 67px;
    margin-left: 65px;
}
.middle_person img{
    margin-top: 72px;
    margin-left: 119px;
}
.middle_person .up_quote img{
    margin-top: 13px;
    margin-left: 69px;
}
.middle_person .low_quote img{
    margin-top: 74px;
    margin-left: 316px;
}
.middle_person .stars img{
    margin-top: 70px;
    margin-left: 131px;
}
.right_person img{
    margin-top: 74px;
    margin-left: 173px;
}
.right_person .up_quote img{
    margin-top: 14px;
    margin-left: 118px;
}
.right_person .low_quote img{
    margin-top: 74px;
    margin-left: 364px;
}
.right_person .stars img{
    margin-top: 70px;
    margin-left: 179px;
}
.laura_smith {
    font-size: 18px;
    font-family: "Krub";
    letter-spacing: 1px;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1.429;
    position: absolute;
    margin-top: 14px;
    margin-left: 77px;
}
.jhon_smith {
    font-size: 18px;
    font-family: "Krub";
    letter-spacing: 1px;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1.429;
    position: absolute;
    margin-top: 17px;
    margin-left: 144px;
    word-spacing: 6px;
}
.sara_smith {
    font-size: 18px;
    font-family: "Krub";
    letter-spacing: 1px;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1.429;
    position: absolute;
    margin-top: 16px;
    margin-left: 193px;
    word-spacing: 6px;
}
.left_person .first_row{
    font-size: 13px;
    font-family: "Krub";
    letter-spacing: 0.789px;
    font-weight: bold;
    justify-content: center;
    position: absolute;
    margin-left: 25px;
    margin-top: 114px;
}
.middle_person .first_row{
    font-size: 13px;
    font-family: "Krub";
    letter-spacing: 0.5px;
    font-weight: bold;
    justify-content: center;
    position: absolute;
    margin-left: 92px;
    margin-top: 117px;
    word-spacing: 1.9px;
}
.right_person .first_row{
    font-size: 13px;
    font-family: "Krub";
    letter-spacing: 0.4px;
    font-weight: bold;
    justify-content: center;
    position: absolute;
    margin-left: 141px;
    margin-top: 117px;
    word-spacing: 2.4px;
}
.left_person .second_row{
    font-size: 13px;
    font-family: "Krub";
    letter-spacing: 0.31px;
    font-weight: bold;
    justify-content: center;
    position: absolute;
    margin-left: 26px;
    margin-top: 138px;
    word-spacing: 6.87px
}
.middle_person .second_row{
    font-size: 13px;
    font-family: "Krub";
    letter-spacing: 0.279px;
    font-weight: bold;
    justify-content: center;
    position: absolute;
    margin-left: 92px;
    margin-top: 141px;
    word-spacing: 7.7px;
}
.right_person .second_row{
    font-size: 13px;
    font-family: "Krub";
    letter-spacing: 0.4px;
    font-weight: bold;
    justify-content: center;
    position: absolute;
    margin-left: 141px;
    margin-top: 141px;
    word-spacing: 6.5px;
}
.left_person .third_row{
    font-size: 13px;
    font-family: "Krub";
    letter-spacing: 0.4px;
    font-weight: bold;
    justify-content: center;
    position: absolute;
    margin-left: 26px;
    margin-top: 162px;
    word-spacing: 11.2px;
}
.middle_person .third_row{
    font-size: 13px;
    font-family: "Krub";
    letter-spacing: 0.4px;
    font-weight: bold;
    justify-content: center;
    position: absolute;
    margin-left: 92px;
    margin-top: 164px;
    word-spacing: 11.2px;
}
.right_person .third_row{
    font-size: 13px;
    font-family: "Krub";
    letter-spacing: 0.4px;
    font-weight: bold;
    justify-content: center;
    position: absolute;
    margin-left: 141px;
    margin-top: 165px;
    word-spacing: 11.2px;
}
.left_person .fourth_row{
    font-size: 13px;
    font-family: "Krub";
    letter-spacing: 0.39px;
    font-weight: bold;
    justify-content: center;
    position: absolute;
    margin-left: 39px;
    margin-top: 186px;
    word-spacing: 0.1px;
}
.middle_person .fourth_row{
    font-size: 13px;
    font-family: "Krub";
    letter-spacing: 0.4px;
    font-weight: bold;
    justify-content: center;
    position: absolute;
    margin-left: 105px;
    margin-top: 189px;
    word-spacing: 0.1px;
}
.right_person .fourth_row{
    font-size: 13px;
    font-family: "Krub";
    letter-spacing: 0.36px;
    font-weight: bold;
    justify-content: center;
    position: absolute;
    margin-left: 154px;
    margin-top: 188.7px;
    word-spacing: 0.1px;
}
.lower_container {
    display: flex;
    max-width: 1144px;
    height: 27px;
    position: absolute;
    top: 677px;
    left: 0px;
    right: 0px;
}
.lower_container img:first-child{
    margin-top: 2px;
    margin-left: 456px;
    cursor: pointer;
}
.lower_container img:last-child{
    margin-top: 2px;
    margin-left: 136px;
    cursor: pointer;
}