@font-face {
    font-family: Krub;
    src: url(fonts/Krub/Krub-Regular.ttf);
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: Krub;
    src: url(fonts/Krub/Krub-Bold.ttf);
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: Krub;
    src: url(fonts/Krub/Krub-SemiBold.ttf);
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: Oswald;
    src: url(fonts/Oswald/Oswald-Bold.ttf);
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: Oswald;
    src: url(fonts/Oswald/Oswald-SemiBold.ttf);
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: Oswald;
    src: url(fonts/Oswald/Oswald-Medium.ttf);
    font-weight: 500;
    font-style: normal;
}
*{
    margin: 0;
    padding: 0;
}
body{
    width: 1440px;
    background-color: black;
    color:#fff;
}
header{
    font-family: Oswald;
    display: flex;
    justify-content: center;
    height: 143px;
}
.header_container{
    width: 1326px;
    display: flex;
    justify-content: space-between;
}
.header_logo {
    width: 128px;
    height: 32px;
    margin-top: 46px;
    padding: auto;
    display: flex;
    align-items: center;
    cursor: pointer;
}
.header_logo_text {
    margin-left: 9px;
    font-weight: 600;
    font-size: 21px;
    word-spacing: 3px;
}
.square{
    height: 18px;
    width: 18px;
    background-color: #fff;
}
nav{
    width: 570px;
    margin: 52px 0 0 93px;
    display: flex;
    justify-content: space-between;
}
nav a{
    font-weight: 600;
    color:#fff;
    font-size: 16px;
    height: 30px;
    text-decoration: none;
}
.header_right_container{
    width: 224px;
    display: flex;
    justify-content: space-between;
}
.signIn{
    display: flex;
    margin-top: 48px;
    height: 31px;
    width: 96px;
    background-color: #fff;
    color: #000;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    word-spacing: 2px;
    cursor: pointer;
}
.lines{
    margin-top: 52px;
    height: 25px;
    width: 51px;
    cursor: pointer;
}
.home{
    display: flex;
    justify-content: center;
    height: 900px;
}
.home>div{
    width: 1326px;
    display: flex;
}
.home_left_container{
    height: 660px;
    width: 393px;
    font-family: Krub;
    display: flex;
    flex-direction: column;
}
.home_left_container>p{
    margin: 61px 0 0 -7px;
    letter-spacing: 4px;
    font-weight: 700;
    font-size: 132px;
}
.home_left_container>p span{
    color: #a460f9;
}
.home_left_container>div{
    display: flex;
    align-items: center;
}
.home_left_container>div>p:first-child{
    margin: 9px 0 0 -8px;
    writing-mode: vertical-lr;
    transform: rotate(-180deg);
    font-weight: 400;
    font-size: 43px;
    letter-spacing: 4.5px;
}
.home_left_container>div p:first-child span{
    font-weight: 600;
}
.home_left_container>div>div{
    flex: content;
    display: flex;
    justify-content: center;
    margin-top: 65px;
    height: 48px;
}
.home_left_container div div div{
    display: flex;
    justify-content: space-between;
    width: 140px;
}
.home_left_container div div div .square{
    margin-top: 7px;
    margin-left: 1px;
    height: 12px;
    width: 12px;
}
.home_left_container div div div p{
    font-weight: 700;
    font-size: 14.5px;
    padding-right: 7px;
    word-spacing: 4px;
    line-height: 25px;
}
.left_arrow{
    width: 60px;
    height: 23px;
    background-image: url(media/left_arrow.png);
}
.home_left_container .left_arrow{
    align-self: flex-end;
    margin-top: 70px;
    padding-right: 1px;
}

.home_center_container{
    width: 544px;
    height: 662px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.home_center_container .circle{
    position: absolute;
    width: 375.75px;
    height: 375.75px;
    background-color: #a460f9;
    border-radius: 50%;
    margin: 65px 27px 0 0;
}
.home_center_container img{
    z-index: 1;
    margin-top: 87px;
    margin-right: 64px;
}
.home_right_container{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-family: Krub;
    width: 390px;
    height: 662px;
}
.home_right_container div:first-child{
    border-color: #fff;
    border-width: 2px;
    border-style: solid;
    border-right: none;
    position: relative;
    align-self: flex-end;
    top: 26px;
    left: 57.4px;
    width: 177px;
    height: 101px;
}
.home_right_container div:first-child p{
    font-weight: 700;
    font-size: 17px;
    margin: 18px 0 0 35.2px;
    letter-spacing: 3.5px;
    line-height: 28px;
}
.home_right_container div:first-child p span{
    font-size: 29px;
    letter-spacing: 6px;
}
.home_right_container div:nth-child(2){
    width: 293px;
    height: 104px;
    font-weight: 600;
    padding: 0 13px 0 13px;
}
.home_right_container div:nth-child(2) p:first-child{
    font-size: 18px;
    margin-top: -9px;
    word-spacing: 1.4px;
    letter-spacing: 1.7px;
    line-height: 28px;
}
.home_right_container div:nth-child(2) p:last-child{
    margin-top: 14px;
    font-size: 14px;
    letter-spacing: 0.8px;
    word-spacing: -0.5px;
    line-height: 26px;
    text-align: justify;
}
.home_right_container div:nth-child(3){
    width: 260px;
    height: 48px;
}
.right_arrow{
    width: 60px;
    height: 23px;
    background-image: url(media/right_arrow.png);
}
.home_right_container div:nth-child(2) p:first-child{

}
footer{
    height: 200px;
    margin-top: 500px;
    background-color: purple;
}